nav.navbar-light {
    background-color: #16C79A;

}

ul.navbar-nav li a {
    font-size: 1.2rem;
    color: #000 !important;
    font-family: railwaysemi;
}

.header-logo {
    width: 70px;
    height: 60px;
}

.navbar-toggler {
    font-size: 1.2rem;
    border: none;
}

.navbar-toggler:active {
    border: none;
}


nav .social-icons {
    color: blue;
    word-spacing: 10px;
    margin-left: 500px;
}

.header {
    background-image: linear-gradient(to bottom right, rgba(5, 5, 5, 0.5), rgba(17, 105, 142, 0.8)), url('../assets/CSSAQuaterguard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 20px;

}

.header h1 {
    text-align: center;
    font-size: 5rem;
    color: #fff;
    font-family: railwayBold;
}

.header a {
    text-decoration: none;
    background-color: #16C79A;
    color: #fff;
    font-family: railwaysemi;
    display: block;
    width: 110px;
    padding: 6px;
    border-radius: 2px;
    margin: auto;
    text-align: center;
}

.commandantImg {
    width: 50%;
    height: 380px;
    margin: 0 auto;
    box-shadow: 3px 3px 7px #888888;
    border-radius: 2px;
    display: block;
}

.commandantMsg .row {
    width: 90%;
    margin: 0 auto;
    padding: 40px 10px;
    line-height: 3.5;
}

.commandantMsg .row h2 {
    font-size: 30px;
    font-family: railwaybold;
    font-weight: bolder;
    text-transform: uppercase;
}

.commandantMsg .row .col-lg-6 p {
    font-style: italic;
}

.statements-anthem{
    background-color: #21AA93;
    padding: 10px;
    margin: auto;
}

.statements-anthem .row {
    text-align: center;
    margin: 40px auto;
}

.statements-anthem h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}

.statements p {
    text-align: left;
    padding: 15px;
    margin: 15px auto;
}

.anthem {
    padding: auto;
    background-color: #21AA93;
}

.anthem h3 {
    margin-top: 20px;
    text-align: center;
}

.anthem p {
    text-align: center;
    margin: 18px auto;
    font-family: anthem;
}

.latest-news .container-fluid {
    padding: 40px;
}

.latest-news h3 {
    text-align: center;
    font-family: railwaysemi;
    font-size: 30px;
    padding: 20px;
}

.latest-news .carousel-item .d-block {
    height: 400px;
    width: 98%;
    margin: 0 auto;
    border-radius: 10px;
}

.latest-news .carousel-item h5,
.carousel-item p {
    color: rgb(255, 254, 254);
}

.contact {
    margin-top: 50px;
    padding: 20px;
    font-family: railwaybold;
}

footer {
    background-color: #16C79A;
}

.footer-logo {
    width: 100px;
    height: 90px;
}

footer ul {
    margin-left: auto;
}

footer li.social-icons {
    margin-left: 500px;
    color: blue;
}

.footer p {
    background-color: #140303;
    text-align: center;
    color: #fff;
    padding: 20px;
    margin-bottom: 0;
}

@font-face {
    font-family: railwaySemi;
    src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: railwayBold;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: railwayLight;
    src: url(../fonts/Raleway/Raleway-Light.ttf);
}

@font-face {
    font-family: anthem;
    src: url(../fonts/Raleway/Raleway-Medium.ttf);
}


@media screen and (max-width: 780px) {
    nav .social-icons {
        margin-left: 0;
    }

    .header h1 {
        text-align: left;
        font-size: 3rem;
    }

    .header a {
        margin-right: auto;
    }

    .commandantMsg .row {
        line-height: 2.5;
    }

    .commandantMsg .row h2 {
        font-size: 25px;
        text-align: center;
        margin-top: 30px;
    }

    .commandantImg {
        width: 70%;
        height: 300px;
    }

    .statements p {
        text-align: center;
    }

    .contact .container .row {
        text-align: center;
    }

    ul li.social-icons {
        margin-left: 0;
    }

    .footer ul,
    .footer a {
        display: block;
        margin: auto;
        text-align: center;
    }
}