nav.navbar-light {
    background-color: #16C79A;
    
}

ul.navbar-nav li a{
    font-size: 1.2rem;
    color: #000!important
}

.header-logo {
    width: 70px;
    height: 60px;
}

.navbar-toggler {
    font-size: 12px;
}

nav .social-icons {
    color: blue;
    word-spacing: 10px;
    margin-left: 500px;
}

.header {
    background-image: linear-gradient(to bottom right, rgba(0, 2, 0, 0.8), rgba(17, 105, 142, 0.5)), url('../assets/CSSAQuaterguard.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    padding: 20px;

}

.header h1 {
    text-align: center;
    font-size: 5rem;
    color: #fff;
    font-family: railwayBold;
}

.header a {
    text-decoration: none;
    background-color: #fff;
    color: #000;
    font-family: railwayLight;
    display: block;
    width: 110px;
    padding: 6px;
    border-radius: 2px;
    margin: auto;
    text-align: center;
}

.commandantMsg {
    background-color: #EFFAD3;
}

.commandantImg {
    width: 50%;
    height: 380px;
    margin: 0 auto;
    box-shadow: 3px 3px 2px #888888;
    border-radius: 2px;
    display: block;
}

.commandantMsg .row {
    width: 90%;
    margin: 0 auto;
    padding: 40px 10px;
    line-height: 3.5;
}

.commandantMsg .row h2 {
    font-size: 30px;
    font-family: railwaysemi;
    font-weight: bolder;
    text-transform: uppercase;
}

.statements .row {
    text-align: center;
    width: 100%;
    margin: 40px auto;
}

.commandantMsg .row .col-lg-6 p {
    font-style: italic;
}

.statements h3 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    font-weight: bold;
}

.statements p {
    text-align: left;
    padding: 15px;
    margin: 10px auto;
}

.latest-news .container-fluid {
    background-color: #EFFAD3;
    padding: 40px;
}

.latest-news h3 {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-transform: uppercase;
    font-size: 30px;
    padding: 20px;
}

.latest-news .carousel-item .d-block {
    height: 400px;
    width: 98%;
    margin: 0 auto;
    border-radius: 10px;
}

.latest-news .carousel-item h5,
.carousel-item p {
    color: rgb(255, 254, 254);
}

.contact {
    margin-top: 50px;
    padding: 20px;
}

footer {
    background-color: #16C79A
}

.footer-logo {
    width: 100px;
    height: 90px;
}

footer ul{
    margin-left: auto;
}

footer li.social-icons {
    margin-left: 500px;
    color: blue;
}

.footer p {
    background-color: #140303;
    text-align: center;
    color: #fff;
    padding: 20px;
    margin-bottom: 0;
}

@font-face {
    font-family: railwaySemi;
    src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
}

@font-face {
    font-family: railwayBold;
    src: url(../fonts/Raleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: railwayLight;
    src: url(../fonts/Raleway/Raleway-Light.ttf);
}


@media screen and (max-width: 780px) {
    nav .social-icons{
        margin-left: 0;
    }

    .header h1 {
        text-align: left;
        font-size: 3rem;
    }

    .header a {
        margin-right: auto;
    }

    .commandantMsg .row h2 {
        font-size: 25px;
        text-align: center;
        margin-top: 30px;
    }

    .commandantImg {
        width: 70%;
        height: 300px;
    }

    .statements p {
        text-align: center;
    }

    .contact .container .row {
        text-align: center;
    }

    ul li.social-icons{
        margin-left: 0;
    }

    .footer ul, .footer a {
        display: block;
        margin: auto;
        text-align: center;
    }
}